build
app/build
pulltorefreshlibrary/build
WheelPicker/build
.idea
.gradle
WheelPicker/WheelPicker.iml
app/app-Home-release-1.0.apk
build/generated/mockable-android-16.jar
build/generated/mockable-android-23.jar
app/*.iml
libraryflowtag/*.iml
*.properties
pulltorefreshlibrary/*.iml
*.iml
pulltorefreshlibrary/build.gradle


test.rb
spec/factories/*
spec/models/*
.DS_Store
._.DS_Store
.bundle
db/*.sqlite3
db/data.yml
db/*.sqlite3.*
log/*.log
tmp/
*.pyc
*.swp
*.swo
*.swn
*.tmp
*.bak
spec/helpers/
spec/views/
spec/routing/
doc/~$*
doc/Thumbs.db
config/initializers/authorizer_and_ldap.rb
config/database.yml
config/settings.yml
REVISION
log
./*.sql
clean_empty_helper.rb
*.log
public/assets
spec/mock_attributes.yaml
*.sql
lib/radius/auth.py
config/secrets.yml
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
public/files
.idea/*.xml
config/log4r.yml
*.zip
nohup.out
config/thin.yml
public/uploads/
config/deploy.rb
public/deploy/
*~
.swm
dump.rdb
.idea/
spec/requests
public/system
public/uploads

/SlidingMenu/build
